.board-bg {  
  height: 100vh;  
  width: 100vw;  
  display: flex;
  flex-direction: column;  
  align-items: center;  
  justify-content: center; 
  padding: 5px; 
}  

.outer-box {
    height: 90%;
    width: 56%;
    padding: 8px;
    background-color: #3f0611;
}

.inner-box {
  height: 100%;  
  width: 100%; 
  border: solid #DCBE8B;
  border-width: 3px;
  display: flex;
  flex-direction: column;  
  align-items: center;  
  justify-content: center;
}

.board {
  height: 100%;  
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);  
  grid-template-rows: repeat(8, 1fr);  
  background-color: #3f0611;
  border: solid #DCBE8B;
  border-width: 3px;
  padding: 3px;
}

.square {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.2s ease; /* Smooth transitions for hover effects */
}

.square img {
  width: 60%; 
  height: 70%; 
}

.light {  
  background-color: #DCBE8B; /* Beige color */
}

.dark {  
  background-color: #3f0611; /* Dark Red color */
}

.select {
    background-color: rgba(236, 231, 69, 0.8); /* More pronounced highlight */
    border: 2px solid #FFC107; /* Different shade for the border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

.highlight {
    background-color: rgba(236, 231, 69, 0.5); /* Light yellow with transparency */
    border: 2px solid rgba(236, 231, 69, 0.8); /* Light border for distinction */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

.underAttack {
    background-color: rgba(255, 51, 51, 0.3); /* Semi-transparent red */
    border: 2px solid rgba(255, 0, 0, 0.8); /* Thinner red border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
}
